#minhaLista {
    list-style-type: none;
  }
  li {
    padding-top: 2%;
    cursor: pointer;
    font-size: 2rem;
    
  }
  li:hover{
    background-color: gray;
  }
  main {
    text-align: center;
  }